<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="static-content" />
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
</head>
<body>
    <div id="container"></div>
</body>
</html>